{{ define "main" }}

    <h1>Jacqueline Binya writes about:</h1>
    
    <!-- Rendering a Site’s Taxonomies -->
    <ul class="article-tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li><a  class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
        {{ end }}
    </ul>

    <hr class="page-seperator"/>

    {{.Content }}
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pages }}
        <div class="post-short-list">
            <header> 
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
            </header>
            {{ partial "articleInfoFull.html" . }}
        </div>
    {{ end }}

{{ end }}