{{ define "main" }}

    <article class="post">
        <heade class="post-heading-wrapper">
            <h1>{{ .Title }}</h1>
        
            <p class="post-pagination"><time>{{ .Date.Format "January 2, 2006" }}</time> . ☕&nbsp;
                    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} min {{ else }} mins {{ end }} read</p>

        </header>
        <div class="content">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}
    </article>
    {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

{{ end }}